/* Custom Animation */
@keyframes animateInRight {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .7;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.animateRightIn-1 {
  animation: animateInRight .5s ease-in-out both;
}

.animateRightIn-2 {
  animation: animateInRight 1.10s ease-in-out both;
}

.animateRightIn-3 {
  animation: animateInRight 2s ease-in-out both;
}